/*Unternehmen*/
.buttons {
	position: absolute;
	width: 320px;
	height: 50px;
	bottom: 77px;
	left: 0px;
	background-image:url("../../../imagesMobile/de/unternehmen/borg.png");
	background-repeat: no-repeat;
}
#international {
	background-image:url("../../../imagesMobile/de/unternehmen/inter.png");
	bottom: 40px;
}	