/*Meeting Point*/
#title {
	position: absolute;
	top: 68px;
	left: 60px;
}

#topNav, #subNav, #logo, #title {
	z-index: 11;
}

#magazin {
	position: absolute;
	bottom: 230px;
	left: 400px;
	z-index: 0;
}
#tray {
	z-index: 0;
}

#magazin img {
	-webkit-box-shadow: 0 0 10px #000000;
	-moz-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
}

#options {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	text-align: left;
	width: 70%;
	height: 100%;
	background: -moz-linear-gradient(left, rgba(75,82,98,0) 0%, rgba(75,82,98,0) 47%, rgba(75,82,98,1) 76%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(75,82,98,0)), color-stop(47%,rgba(75,82,98,0)), color-stop(76%,rgba(75,82,98,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(75,82,98,0) 0%,rgba(75,82,98,0) 47%,rgba(75,82,98,1) 76%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(75,82,98,0) 0%,rgba(75,82,98,0) 47%,rgba(75,82,98,1) 76%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, rgba(75,82,98,0) 0%,rgba(75,82,98,0) 47%,rgba(75,82,98,1) 76%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004b5262', endColorstr='#4b5262',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, rgba(75,82,98,0) 0%,rgba(75,82,98,0) 47%,rgba(75,82,98,1) 76%); /* W3C */
}

#buttons {
	position: absolute;
	bottom: 60px;
	right: 0;
	width: 170px;
}