/*Produkte*/
#title {
	position: absolute;
	top: 200px;
	left: 60px;
}

#groups {
	position: absolute;
	width: 100%;
	height: 198px;
	bottom: 105px;
	left: 0;
}
#groups > div > div {
	width: 311px;
	height: 66px;
	font-size: 20px;
}
#groups > div > div img {
	margin-left: 20px;
}
#groups > div {
	position: absolute;
}
#groups .n0 {
	left: -20px;
}
#groups .n1 {
	left: 50%;
	margin-left: -168px;
}
#groups .n2 {
	right: 20px;
}
